@import url(https://fonts.googleapis.com/css?family=Roboto:700);
html, body{background : rgb(53, 93, 138); font-family : Roboto; height: 100%; width: 100%; margin: 0;}

/* #holder{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
} */
.button {
  background: #3D4C53;
  margin : 20px auto;
  width : 220px;
  height : 70px;
  overflow: hidden;
  position:absolute;
    font-size: 15pt;
    top: 43%;
    right: 42%;
  padding-top: 5px;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 230px;
  height : 150px;
  margin-top: -107px;
  padding-top: 1px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : white;
  transition : .3s;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #FFF;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(53, 93, 138);
  padding: 0px;
}
#grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

#FormDiv {
  text-align: center;
  color: #FFF;
}

#buttonDiv {
  block-size: 0px;
}

[data-id=GBPUSD-buy] {
  position: absolute;
  background-color: green;
  width: 50px;
  height: 25px;
  font-size: 11pt;
  left: 325px;
  top: 320px;
}

[data-id=GBPUSD-sell] {
  position: absolute;
  background-color: red;
  width: 50px;
  height: 25px;
  font-size: 11pt;
  left: 375px;
  top: 320px;
}


[data-id=EURUSD-buy] {
  position: absolute;
  background-color: green;
  width: 50px;
  height: 25px;
  font-size: 11pt;
  left: 1040px;
  top: 320px;
}

[data-id=EURUSD-sell] {
  position: absolute;
  background-color: red;
  width: 50px;
  height: 25px;
  font-size: 11pt;
  left: 1090px;
  top: 320px;
}

[data-id=EURGBP-buy] {
  position: absolute;
  background-color: green;
  width: 50px;
  height: 25px;
  font-size: 11pt;
  left: 325px;
  bottom: 40px;
}

[data-id=EURGBP-sell] {
  position: absolute;
  background-color: red;
  width: 50px;
  height: 25px;
  font-size: 11pt;
  left: 375px;
  bottom: 40px;
}

[data-id=EURJPY-buy] {
  position: absolute;
  background-color: green;
  width: 50px;
  height: 25px;
  font-size: 11pt;
  left: 1040px;
  bottom: 40px;
}

[data-id=EURJPY-sell] {
  position: absolute;
  background-color: red;
  width: 50px;
  height: 25px;
  font-size: 11pt;
  left: 1090px;
  bottom: 40px;
}



div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;

}

#againButton{
  width:50px;
  position:absolute;
  left:50%;
  top: 130%
}